.jumbotron {
    background-color: rgb(83, 139, 243);
    color: white;
}

h3 {
    text-align: center;
}

.uv-red {
    background: red;
}

.uv-green {
    background: green;
}

.uv-orange {
    background: orange;
}
.uv-violet {
    background: violet;
}

.uv-yellow {
    background: yellow;
}

#forecast {
    display: flex;
    background: cornflowerblue;
    color: white;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

ul li {
    list-style-type: none;
}

#history-button {
    background: rgb(144, 178, 243);
    color: white;
}

@media screen and (max-width: 768px) {
    #forecast,
    ul {
      flex-direction: column;
    }
  }